
.header{
    height: 80px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05);
    &__box{
        height: 80px;
        display: flex;
        justify-content: space-between;
    }
    &__logo{
        margin-top: 25px;
        margin-right: 60.96px;
    }
    &__search{
        display: flex;
        align-items:center;
        flex-basis: 835px;
        height: 40px;
        border: 1px solid #EBEBF1;
        border-radius: 5px;
        margin: 25px 60px 25px 0;
        img{
            margin-left: 14px;
            margin-right: 9px;
            max-width: 16px;
            max-height: 16px;
        }
        p{
            display: block;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.01em;
            color: #BBC4D6;
        }
    }

    &__border{
        width: 1px;
        height: 80px;
        background-color:#EBEBF1;
    }
    &__stroke{
        display: none;
    }
    &__profile{
        margin-left: 19px;
        margin-top: 20px;
        display: flex;
        p{
            display: block;
            align-items:center;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 120%;
            color: #768298;
        }
        img{
            margin-left: 9px;
            max-width: 40px;
            max-height: 40px;
        }
    }
}